<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  background-color: #00ffff;
}

=======
  background-color: #fafafa;
}

/* 🔹 HEADER */
>>>>>>> header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004aad;
  color: white;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
<<<<<<< HEAD
  
=======
>>>>>>> header
}

.logo img {
  width: 50px;
  height: auto;
<<<<<<< HEAD
  border-radius: 28px;
}

.nav a {
  color: rgb(255, 255, 255);
=======
}

.nav a {
  color: white;
>>>>>>> header
  text-decoration: none;
  margin: 0 10px;
}

.btn-login {
  background-color: white;
  color: #004aad;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
<<<<<<< HEAD
}
=======
>>>>>>> container
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 40px;
  padding: 40px 20px;
}

.card {
  display: flex;
  justify-content: center;  
  align-items: center;      
  gap: 30px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  max-width: 900px;
  width: 100%;
}


.card_img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.resolution {
  width: 200px;
  height: 200px;
}
.card h2 {
  margin-top: 0;
  color: #004aad;
  text-align: center;
}

.card p {
  color: #333;
  text-align: center;
  max-width: 400px;
}
<<<<<<< HEAD
.footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 20px;
}

.redes a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}


@media (max-width: 768px) {
  .card {
    flex-direction: column;
    text-align: center;
  }

  .card img {
    width: 100%;
    max-width: 400px;
  }
=======
>>>>>>> header
}
=======
>>>>>>> container
