.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 40px;
  padding: 40px 20px;
}

.card {
  display: flex;
  justify-content: center;  
  align-items: center;      
  gap: 30px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  max-width: 900px;
  width: 100%;
}


.card_img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.resolution {
  width: 200px;
  height: 200px;
}
.card h2 {
  margin-top: 0;
  color: #004aad;
  text-align: center;
}

.card p {
  color: #333;
  text-align: center;
  max-width: 400px;
}
